{% extends "docs/layouts/page.html.twig" %}

{% block main %}
    <div class="px-5">
        <h1 class="h3 mb-4">Modifier la page</h1>
        {% include "docs/page/_form.html.twig" with {form: form} %}
    </div>
{% endblock %}

{% block js %}
    <script src="{{ asset('js/docs/form.js') }}"></script> 
{% endblock %}