{% extends "docs/layouts/page.html.twig" %}

{% block main %}
    <section class="container-fluid" id="page-show-book">
        {% include "docs/page/sidebar.html.twig" %}        
        <section class="section">
            <div class="container">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        {% include "docs/partials/breadcrumb.html.twig" with {instance: page} %}
                    </ol>
                </nav>
                <h1 class="h3">{{ page.title }}</h1>
                <div class="page-container">                
                    <div class="page-content">
                        {{ page.content|raw }}
                    </div>
                </div>
            </div>
        </section>
    </section>    
{% endblock %}

{% block css %}    
    <link rel="stylesheet" href="{{ asset('css/docs/styles.css') }}">
{% endblock %}

{% block js %}
    <script>
        const deleteObject = (event) => {
            event.preventDefault();
            const url = event.target.href;
            const answer = confirm('Toutes les données supprimées seront perdues définitivement? Êtes-vous sûr de poursuivre cette action?');

            if (answer === true) {
                axios
                    .delete(url)
                    .then(({ status, headers }) => {
                        if (status === 204) {
                            if (headers.hasOwnProperty('location')) {
                                flash('Supprimé avec succcès');
                                setTimeout(() => window.location = headers.location, 1000);
                            }
                        }
                    })
                    .catch(({ response }) => {
                        errorHTTPRequest();
                        console.error(response);
                    })
            }
        }
    </script>
{% endblock %}