/* BoardList container */

.board-list-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    justify-content: flex-start;
    align-items: flex-start;
    margin: .67rem 0;
    padding: .2rem .1rem .3rem;
    height: calc(100vh - 135px);
}

.board-list {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius: .2rem;
    box-sizing: border-box;
    white-space: normal;
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-start;
    overflow: hidden;
    height: auto;
    width: 250px;
    max-height: calc(100vh - 155px);
    padding: .3rem 0;
    margin-right: 1.5rem;
    background-color: #F9F9F9;
}


/* Scroll Bar layout */

.board-list-body::-webkit-scrollbar,
.board-list-container::-webkit-scrollbar {
    /* width */
    width: 8px;
    height: 10px;
}

.board-list-body::-webkit-scrollbar-track {
    /* Track */
    border-radius: 0px;
}

.board-list-container::-webkit-scrollbar-track {
    /* Track */
    border-radius: 3px;
}

.board-list-body::-webkit-scrollbar-thumb {
    /* Handle */
    background: #777995;
    border-radius: 0px;
}

.board-list-container::-webkit-scrollbar-thumb {
    /* Handle */
    background: #777995;
    border-radius: 3px;
}

.board-list-body::-webkit-scrollbar-thumb:hover,
.board-list-container::-webkit-scrollbar-thumb:hover {
    /* Handle on hover */
    background: #71777d;
}

.board-list>* {
    padding: .4rem .7rem;
    width: 100%;
}

.board-list::last-child {
    margin-right: 0;
}

.board-list-header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.board-list-header .dropdown-toggle::after {
    display: none;
}

.board-list-body {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    overflow-y: scroll;
    overflow-x: hidden;
    align-items: flex-start;
}

.board-list-footer {
    padding: .2rem 1rem .5rem;
}

.card-list {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    padding: .5rem 0 .3rem;
}

.card-list .card {
    margin-bottom: .7rem;
    width: 100%;
    background-color: var(--bs-white);
    border: none;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.card-list .card::last-child {
    margin-bottom: 0;
}

.card-list .card-body {
    padding: .5rem .7rem;
}

.card-list .card-title {
    margin-bottom: .2rem;
}

.card-list .card::last-child {
    margin-bottom: 0;
}

.badge:empty {
    display: inline-block;
    border: none;
}

.card-details>* {
    margin-right: .5rem;
}

.card-details> ::last-child {
    margin-right: 0;
}

.card-list .card-title {
    font-size: 1.15rem;
}