/* Board Container */

.board-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    width: 100%;
}

.board-container p {
    margin-bottom: .3rem;
}

.board-section {
    width: 50%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
}

.board-name {
    font-weight: 600;
    font-size: 1.12rem;
}

.board-dates {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    margin-bottom: .4rem;
}

.board-dates i {
    font-weight: 700;
}

.board-dates p:first-child {
    margin-right: .6rem;
}

.board-progress {
    margin: .3rem 0;
}

.board-progress .progress {
    height: .7rem;
    border-radius: 1rem;
}

.board-stats {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
}

.board-stats>* {
    margin-right: .4rem;
}

.board-stats>*:last-child {
    margin-right: 0;
}

.board-actions {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
}

.board-actions>* {
    margin-right: .4rem;
}

.board-actions>*:last-child {
    margin-right: 0;
}

.link.active {
    font-weight: 600;
}