{% extends "base.html.twig" %}


{% block body %}
    <div id="app" class="wrapper">
        {% include "site/template-parts/navbar.html.twig" %}
        <main>
            {% block main %}{% endblock %}
        </main>
        {% include "site/template-parts/footer.html.twig" %}
    </div>
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/website/styles.css') }}">
    {% block css %}{% endblock %}
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/default/main.js') }}"></script>
    {% block js %}{% endblock %}
{% endblock %}