{% extends 'admin/layout.html.twig' %}

{% block title %}Edit GroupSkill{% endblock %}

{% block main %}
    <h1>Edit GroupSkill</h1>

    {{ include('admin/group_skill/_form.html.twig', {'button_label': 'Modifier'}) }}

    <a href="{{ path('admin_group_skill_list') }}">back to list</a>

    {{ include('admin/group_skill/_delete_form.html.twig') }}
{% endblock %}
