{% extends 'admin/layout.html.twig' %}

{% block title %}New GroupSkill{% endblock %}

{% block main %}
    <h1>Create new GroupSkill</h1>

    {% include 'admin/group_skill/_form.html.twig' %}

    <a href="{{ path('admin_group_skill_list') }}">back to list</a>
{% endblock %}

{% block js %}

    <script src="{{ asset('js/admin/skills/collection-type.js') }}"></script>

{% endblock %}