<div class="dropdown">
    <span 
        class="dropdown-toggle" 
        type="button" 
        id="dropdownCardMenu"    
        data-bs-toggle="dropdown" 
        aria-expanded="false"
    ><i class="bi bi-three-dots"></i></span>
    <ul class="dropdown-menu" aria-labelledby="dropdownCardMenu">
        <li><a class="dropdown-item" href="#">Action</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" href="#">Another action</a></li>
        <li><a class="dropdown-item" href="#">Something else here</a></li>
    </ul>
</div>