<div class="dropdown">
    <span 
        class="dropdown-toggle" 
        type="button" 
        id="dropdownCardMenu"    
        data-bs-toggle="dropdown" 
        aria-expanded="false"
    ><i class="bi bi-three-dots"></i></span>               
    <ul class="dropdown-menu" aria-labelledby="dropdownCardMenu">
        <li><a class="dropdown-item" href="#">Ajouter une carte</a></li>
        <li><a class="dropdown-item" href="#">Copier la liste</a></li>
        <li><a class="dropdown-item" href="#">Déplacer la liste</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" href="#">Déplacer toutes les cartes de la liste</a></li>
        <li><a class="dropdown-item" href="#">Supprimer la liste</a></li>
    </ul>
</div>