{% extends "dashboard/layout.html.twig" %}

{% block main %}

    <div class="container-fluid" id="socials-list">
        <a href="{{ path('dashboard_social_list') }}">Revenir aux réseaux sociaux</a>
        <h1 class="mt-2 mb-3">
            Editer le profil #{{ social.id }}
        </h1>
        <div class="row">
            <div class="col-12 col-lg-9 col-xxl-6">
                {% include "dashboard/social/form.html.twig" with {form: form} %}                
            </div>
        </div>
    </div>

{% endblock %}

{% block js %}
{% endblock %}

{% block css %}{% endblock %}