<template id="tagFormTemplate">
    <form 
        action="#" 
        method="post" 
        onsubmit="handleEditTag(event);"
        class="row gx-3 gy-2 align-items-center py-2"
        id="tagEditForm"
    >
        <div class="col-sm-4 form-group">
            <label class="form-label" for="name">Name</label>
            <input 
                type="text" 
                class="form-control" 
                id="name"  
                name="name"
            >
        </div>
        <div class="col-sm-4 form-group">
            <label class="for-label" for="tag-description">Description</label>
            <input 
                type="text" 
                name="description" 
                id="tag-description" 
                class="form-control"
            >
        </div>
        <div class="col-sm-4 form-group">
            <label class="form-label" for="color">Couleur</label>
            <select class="form-select" id="color" name="color">
                <option>Selectionner une couleur...</option>
                {% for color in tagColors %}
                    <option 
                        value="{{ color }}" 
                        class="bg-{{ color }} {% if color == "dark" %}text-white{% endif %}"
                    >{{ color|capitalize }}</option>
                {% endfor %}            
            </select>
        </div>
        <div class="col-auto">
            <button type="submit" class="btn btn-success btn-sm">Submit</button>
            <button 
                type="button" 
                class="btn btn-white btn-sm" 
                onclick="cancelEditTag(event);"
            >Annuler</button>
        </div>
    </form>
</template>