{% extends "base.html.twig" %}

{% block body %}

        <div class="wrapper" id="app">
            {% include "template-parts/admin/sidebar.html.twig" %}
            <section class="page-section">
                {% include "template-parts/admin/navbar.html.twig" %}
                <main class="main-section">
                    {% block main %}
                    {% endblock %}
                </main>
            </section>
        </div>

{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/admin/styles.css') }}">
    {% block css %}{% endblock %}
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/admin/main.js') }}"></script>
{% endblock %}