{% extends "docs/layouts/form.html.twig" %}

{% block content %}
    <h1 class="h3 mb-4">Nouvelle page</h1>
    {% include "docs/book/_form_page.html.twig" with {form: form} %}
{% endblock %}

{% block js %}
    <script src="{{ asset('js/docs/form.js') }}"></script> 
{% endblock %}