<aside>
    <div class="detail-container">
        <h3 class="h5">Détails</h3>
        <div class="details">

        </div>
    </div>
    <div class="action-container">
        <h3 class="h5">Actions</h3>
        <div class="actions">
            <a 
                {# href="{{ path('docs_shelf_new_book', {
                    id: shelf.id,
                    slug: shelf.slug
                }) }}"  #}
                href="#"
                onclick="event.preventDefault()"
                id="new-chapter"
                class="action-link" 
                title="Lien pour créer un nouveau chapitre"
            ><i class="bi bi-folder-plus"></i>&nbsp;Nouveau chapitre</a>
            <a 
                {# href="{{ path('docs_shelf_new_book', {
                    id: shelf.id,
                    slug: shelf.slug
                }) }}"  #}
                href="#"
                onclick="event.preventDefault()"
                id="new-page"
                class="action-link" 
                title="Lien pour créer une nouvelle page"
            ><i class="bi bi-file-plus"></i>&nbsp;Nouvelle page</a>
            <hr>
            <a 
                {# href="{{ path('docs_shelf_edit', {
                    id: shelf.id
                }) }}" #}
                href="#"
                onclick="event.preventDefault()"
                id="edit-shelf" 
                title="Lien pour éditer le livre" 
                class="action-link"
            ><i class="bi bi-pencil"></i>&nbsp;Éditer</a>
            <a 
                href="#" 
                id="delete-shelf" 
                title="Lien pour supprimer le livre" 
                class="action-link"
            ><i class="bi bi-trash"></i>&nbsp;Supprimer</a>
        </div>
    </div>
</aside>