{% extends "default/layout.html.twig" %}

{% set bgImage = "linear-gradient(to top, rgba(0, 0, 0, .35) 33.33%, rgba(0, 0, 0, .4) 50%, rgba(0, 0, 0, .75) 100%), url(" ~  absolute_url(content.image) ~ ")" %} 

{% block main %}

    {% include "default/sections/masthead.html.twig" %}
    {% include "default/sections/about.html.twig" %}
    {% include "default/sections/skills.html.twig" %}
    {% include "default/sections/projects.html.twig" %}
    {% include "default/sections/contact.html.twig" %}
    <pre>
        {{ dump(user, content) }}
    </pre>

    <h1>Lorem, ipsum dolor.</h1>
    <h2>Lorem ipsum dolor sit amet.</h2>
    <h3>Lorem ipsum dolor sit amet consectetur adipisicing.</h3>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis atque quam, maxime reprehenderit nemo sequi nam aspernatur magni aliquid rem repellendus ab natus voluptatibus illo.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla, ad possimus cumque ut dolore vero eius ex incidunt eos eum molestias est a qui rem facere fugiat necessitatibus recusandae quam sapiente alias deserunt? Alias praesentium, nobis explicabo reiciendis porro quisquam enim fuga odit nostrum incidunt dolores eligendi quis, sapiente ipsam.</p>
    <p>Tempore ea accusamus beatae ipsum quae autem molestias quisquam pariatur blanditiis laboriosam sed id, expedita temporibus cum recusandae mollitia doloremque saepe, unde explicabo necessitatibus quibusdam. Veniam cupiditate non voluptate optio fuga, perspiciatis quia ipsam, quod, laboriosam neque omnis laborum? Eos est amet ut ipsum quasi, sunt rerum magnam voluptatum mollitia.</p>
    <p>Sint ab debitis minima veniam, similique iusto odit adipisci aperiam beatae fugit cum quo dolor eaque commodi laudantium veritatis natus magnam. Quam magnam, non dolorum eos ullam ipsam amet nobis vitae nostrum earum! Ipsa perferendis corporis consequatur consectetur blanditiis vel officiis expedita iusto rerum, eaque enim, illum id quia voluptatum?</p>
    <p>Excepturi tempore maiores eius exercitationem accusantium nesciunt provident quo. Cumque voluptatem numquam necessitatibus perferendis, nobis ex dignissimos reprehenderit quam obcaecati officiis architecto voluptatum dolor aperiam dolores quae quidem, tempore est rem? Fuga eum consectetur sunt perferendis odit ab repudiandae. Dolore sapiente vitae libero sequi dolor sed excepturi ipsa quibusdam perspiciatis.</p>

{% endblock %}

{% block js %}{% endblock %}