{% extends "layouts/admin.html.twig" %}

{% block main %}

    <div class="container">
    
        <h1>Mon tableau de bord</h1>

        <div class="row card-container mt-5">
            <div class="col-sm-3">
                <a href="#" class="link">
                    <div class="card card-dash">
                        <div class="card-body">
                            <span class="card-icon-title">
                                <i class="bi bi-view-list"></i>
                            </span>
                        </div>
                        <div class="card-footer bg-transparent">
                            <h5 class="card-title">Mon contenu</h5>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-sm-3">
                <a href="#" class="link">
                    <div class="card card-dash">
                        <div class="card-body">
                            <span class="card-icon-title">
                                <i class="bi bi-ui-checks"></i>
                            </span>
                        </div>
                        <div class="card-footer bg-transparent">
                            <h5 class="card-title">Mes projets</h5>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-sm-3">
                <a href="#" class="link">
                    <div class="card card-dash">
                        <div class="card-body">
                            <span class="card-icon-title">
                                <i class="bi bi-mailbox"></i>
                            </span>
                        </div>
                        <div class="card-footer bg-transparent">
                            <h5 class="card-title">Mes contacts</h5>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-sm-3">
                <a href="#" class="link">
                    <div class="card card-dash">
                        <div class="card-body">
                            <span class="card-icon-title">
                                <i class="bi bi-receipt"></i>
                            </span>
                        </div>
                        <div class="card-footer bg-transparent">
                            <h5 class="card-title">Mes demandes</h5>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-sm-3">
                <a href="#" class="link">
                    <div class="card card-dash">
                        <div class="card-body">
                            <span class="card-icon-title">
                                <i class="bi bi-lightning"></i>
                            </span>
                        </div>
                        <div class="card-footer bg-transparent">
                            <h5 class="card-title">Mes compétences</h5>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-sm-3">
                <a href="#" class="link">
                    <div class="card card-dash">
                        <div class="card-body">
                            <span class="card-icon-title">
                                <i class="bi bi-hash"></i>
                            </span>
                        </div>
                        <div class="card-footer bg-transparent">
                            <h5 class="card-title">Mes liens sociaux</h5>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-sm-3">
                <a href="#" class="link">
                    <div class="card card-dash">
                        <div class="card-body">
                            <span class="card-icon-title">
                                <i class="bi bi-people"></i>
                            </span>
                        </div>
                        <div class="card-footer bg-transparent">
                            <h5 class="card-title">Utilisateurs</h5>
                        </div>
                    </div>
                </a>
            </div>
        </div>

    </div>

{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{{ asset('css/admin/dashboard.css') }}">
{% endblock %}