<div class="modal" id="skill-modal" tabindex="-1" aria-labelledby="project-create-modal" aria-hidden="true">
    <form action="{{ path('dashboard_skill_create') }}" method="post" id="skill-create-form">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="project-create-modal">Nouveau groupe de compétences</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="name" class="form-label">Nom du groupe</label>
                        <input type="text" name="name" id="name" class="form-control" placeholder="Le nom du groupe">
                    </div>
                    <div class="form-group">
                        <label for="icon" class="form-label">Icône</label>
                        <input type="text" name="icon" id="icon" class="form-control" placeholder="Le nom de l'icône">
                    </div>
                    <div class="form-group">
                        <label for="color" class="form-label">Couleur</label>
                        <select name="color" id="color" class="form-select">
                            <option value="">Sélectionner une couleur</option>
                            {% for color in colors %}                                
                                <option value="{{ color }}" class="bg-{{ color }}">{{ color }}</option>
                            {% endfor %}
                        </select>                    
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                    <button type="submit" class="btn btn-primary">Enregistrer</button>
                </div>
            </div>
        </div>
    </form>
</div>