<div 
    class="modal fade" 
    id="modalCreateList" 
    tabindex="-1" 
    aria-labelledby="modalCreateListLabel" 
    aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
        <form 
            action="{{ url ?? '#' }}" 
            method="post" 
            onsubmit="handleCreateList(event);"
        >
            <div class="modal-header">
                <h5 class="modal-title">Créer une liste</h5>
                <button 
                    type="button" 
                    class="btn-close" 
                    data-bs-dismiss="modal" 
                    aria-label="Close"
                ></button>
            </div>
            <div class="modal-body">
                <div class="mb-3">
                    <label 
                        for="list-name" 
                        class="form-label"
                    >Nom de la liste</label>
                    <input 
                        type="text" 
                        class="form-control" 
                        id="list-name" 
                        name="name"
                    >
                </div>
            </div>
            <div class="modal-footer">
                <button 
                    type="button" 
                    class="btn btn-secondary" 
                    data-bs-dismiss="modal"
                >Fermer</button>
                <button 
                    type="submit" 
                    class="btn btn-primary"
                >Enregistrer</button>
            </div>
        </form>
    </div>
  </div>
</div>