<!-- Modal -->
<div class="modal fade" id="upload-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Changer la photo de profil</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <img class="hidden uploaded-image" src="" alt="Fichier téléversé" id="uploaded-image">
        <form action="" method="post" id="upload-form" enctype="multipart/form-data">
            <p id="error-upload" class="error hidden mb-2"></p>
            <div class="form-group">
                <label for="image" class="form-label">Sélectionner une image</label>
                <input class="form-control" type="file" id="image" value="">
            </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
        <button type="button" class="btn btn-primary">Enregistrer</button>
      </div>
    </div>
  </div>
</div>
