<section class="section" id="contact">
    <section class="page-section">
        <div class="container-fluid container-xl">
            <div class="section-header">
                <h3 class="section-title">Contact</h3> 
                <small class="section-subtitle">Me contacter...</small>
                <hr>
            </div>
            <div class="section-content">
                <div class="row">
                    <div class="col-12 col-lg-4 bg-crm py-5">
                        <div class="contacts"></div>
                    </div>
                    <div class="col-12 col-lg-8 bg-primary py-5">
                        <div class="contact-form"></div>
                    </div>
                </div>
                <div class="contact-form">
                    <h3>Formulaire de contact</h3>
                </div>
            </div>
        </div>
    </section>
</section>