<form 
    action="{{ path('admin_api_board_tag_create', {
        id: board.id
    }) }}" 
    method="post" 
    onsubmit="handleCreateTag(event);"
    class="row gx-3 gy-2 align-items-center"
>
    <div class="col-sm-4">
        <label class="form-label" for="name">Name</label>
        <input 
            type="text" 
            class="form-control" 
            id="name"  
            name="name"
        >
    </div>
    <div class="col-sm-4">
        <label class="for-label" for="tag-description">Description</label>
        <input 
            type="text" 
            name="description" 
            id="tag-description" 
            class="form-control"
        >
    </div>
    <div class="col-sm-4">
        <label class="form-label" for="color">Couleur</label>
        <select class="form-select" name="color" id="color">
            <option>Selectionner une couleur...</option>
            {% for color in tagColors %}
                <option 
                    value="{{ color }}" 
                    class="bg-{{ color }} {% if color == "dark" %}text-white{% endif %}"
                >{{ color|capitalize }}</option>
            {% endfor %}            
        </select>
    </div>
    <div class="col-auto">
        <button type="submit" class="btn btn-success btn-sm">Submit</button>
        <button 
            type="button" 
            class="btn btn-white btn-sm" 
            id="cancelCreateTag" 
            aria-target="tagCreateCollapse"
        >Annuler</button>
    </div>
</form>