{% extends "site/layout.html.twig" %}


{% block main %}

    <section class="container my-5">
        {% block content %}{% endblock %}
    </section>

{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{{ asset('css/docs./styles.css') }}">
{% endblock %}

{% block js %}{% endblock %}