<!-- Modal formulaire tâche -->
<div class="modal fade" id="modal-task" tabindex="-1" aria-labelledby="modal-task-title" aria-hidden="true">
    <form 
        action="{{ path('admin_project_task_new', {id: project.id}) }}" 
        method="post" 
        id="task-form" 
        data-form-action="create"
    >
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modal-task-title">Nouvelle tâche</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" data-bs-form="task-form"></button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="task-name" class="form-label">Nom de tâche</label>
                        <input type="text" name="name" id="task-name" class="form-control">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" data-bs-form="task-form">Fermer</button>
                    <button type="submit" class="btn btn-primary">Enregistrer</button>
                </div>
            </div>
        </div>
    </form>
</div>