<header class="header d-flex justify-content-center" aria-label="Top navigation bar">
    <section class="container-fluid header-content">
        <a href="#" class="header-brand link">Mon super site</a>
        <nav class="header-nav mobi-nav" id="navbarMenu" aria-label="Top navigation menu">
            <ul class="header-menu">
                <li class="menu-item">
                    <a href="#" class="menu-link">À propos</a>
                </li>
                <li class="menu-item">
                    <a href="#" class="menu-link">Compétences</a>
                </li>
                <li class="menu-item">
                    <a href="#" class="menu-link">Réalisations</a>
                </li>
                <li class="menu-item">
                    <a href="#" class="menu-link">Contact</a>
                </li>
            </ul>
        </nav>
        <button class="header-menu-toggler" type="button" data-app-target="#navbarMenu" expanded="false">
            <i class="bi bi-list"></i>
        </button>
    </section>
</header>