<h1>Réinitialiser votre mot de passe</h1>

<p>Bonjour {{ user.firstname|capitalize }},</p>

<p>Vous avez oublié votre mot de passe, cliquer <a href="{{ absolute_url(path('auth_reset_password', {'token': user.token})) }}">ici</a> pour le réinitialiser</p>