<h1>Modification de votre mot de passe</h1>

<p>Bonjour {{ user.firstname|capitalize }},</p>

<p>La modification de votre mot de passe a bien été prise en compte, cliquer <a href="{{ absolute_url(path('app_signin')) }}">ici</a> pour vous connecter.</p>