{% extends "dashboard/layout.html.twig" %}

{% block main %}

    <div class="container-fluid">
    
        <h1 class="mt-2 mb-3">Mon contenu</h1>

        <form action="" method="post">

            <div class="row mt-1 mb-3">

                <div class="col-8"></div>
                <div class="col-4"></div>

            </div>

        </form>

    </div>

{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{{ asset('css/admin/dashboard.css') }}">
{% endblock %}