{% extends 'auth/layout.html.twig' %}

{% block title %}Réinitialiser votre mot de passe{% endblock %}

{% block main %}
    <section class="auth-container">
        {{ form_start(form, {'attr': {'class': 'auth-form'}}) }}
            <h1 class="h3 mb-3 font-weight-normal">Réinitialiser votre mot de passe</h1>

            {% include "flashes.html.twig" %}

            {{ form_widget(form) }}
            <div class="d-flex mt-1">
                <button class="btn btn-lg btn-primary" type="submit">Enregistrer</button>
            </div>
        {{ form_end(form) }}     
    </section>
{% endblock %}
