<footer class="footer d-flex flex-column">
    <div class="socials"></div>
    <div class="copyright">
        <p>Frédérick AGATHE &copy; {{ "now"|date('Y') }}</p>
        <small>Tous droits réservés</small>
    </div>
    
</footer>