{% extends 'admin/layout.html.twig' %}

{% block main %}
    <h1>Create new Stack</h1>

    {{ include('admin/stack/_form.html.twig') }}

    <a href="{{ path('admin_stack_list') }}">back to list</a>
{% endblock %}
