{% extends 'admin/layout.base.html.twig' %}

{% block main %}
    <h1>Edit Stack</h1>

    {{ include('admin/stack/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('admin_stack_list') }}">back to list</a>

    {{ include('admin/stack/_delete_form.html.twig') }}
{% endblock %}
