<div class="room-filters">
    <a 
        class="link"
        href="#" 
        role="button" 
        id="dropdownFilters" 
        data-bs-toggle="dropdown" 
        aria-expanded="false"
    >Trier par <i class="bi bi-caret-down-fill me-1"></i></a>
    <ul class="dropdown-menu" aria-labelledby="dropdownFilters">
        <li>
            <a 
                class="dropdown-item" 
                href="#"
                data-filter-key="sort"
                data-filter-value="recently-created"
            >Date de création</a>
        </li>
        <li>
            <a 
                class="dropdown-item" 
                href="#"
                data-filter-key="sort"
                data-filter-value="recently-updated"
            >Date de modification</a>
        </li>
        <li>
            <a 
                class="dropdown-item" 
                href="#"
                data-filter-key="sort"
                data-filter-value="most-cards"
            >Le plus de cartes</a>
        </li>
        <li>
            <a 
                class="dropdown-item" 
                href="#"
                data-filter-key="sort"
                data-filter-value="least-cards"
            >Le moins de cartes</a>
        </li>
        <li>
            <a 
                class="dropdown-item" 
                href="#"
                data-filter-key="sort"
                data-filter-value="closest-deadline"
            >Deadline la plus proche</a>
        </li>
        <li>
            <a 
                class="dropdown-item" 
                href="#"
                data-filter-key="sort"
                data-filter-value="furthest-deadline"
            >Deadline la plus éloignée</a>
        </li>
    </ul>
</div>