{% extends "admin/layout.html.twig" %}

{% block main %}

    <h1 class="h3 mb-3">Nouveau contenu</h1>

    {% include "admin/content/_form.html.twig" with { button_label: 'Ajouter' } %}

    <a href="{{ path('admin_content_list') }}" class="btn btn-link">Retour aux contenus</a>

{% endblock %}