body {
    font-size: 18px;
    position: relative;
}

.wrapper {
    box-sizing: border-box;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    width: 100%;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}


/* Header CSS */

.header {
    width: 100%;
    min-height: 70px;
    max-height: 70px;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    box-shadow: var(--app-shadow-light);
    position: static;
    padding: .35rem 1.5rem;
    align-items: center;
    background-color: var(--bs-white);
}

.header.home {
    background-color: var(--site-smoke-white);
}

.header-content {
    justify-content: space-between;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.header-brand,
.header-brand:hover {
    color: inherit;
    text-decoration: none;
}

.header-brand {
    font-size: 1.5rem;
    margin-right: .67rem;
    white-space: nowrap;
}

.header-menu {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 0;
    margin: 0;
    list-style: none;
}

.header-menu .menu-link {
    display: block;
    padding: .5rem 1rem;
    transition: .3s all ease-in-out;
    background-color: transparent;
}

.header-menu .menu-link,
.header-menu .menu-link:hover {
    color: inherit;
    text-decoration: none;
}

.header-menu .menu-link:hover {
    cursor: pointer;
}

.header-menu-toggler {
    border: 1px solid var(--text-content-color);
    border-radius: 5px;
    background-color: transparent;
    color: var(--text-content-color);
    font-size: 1.5rem;
    display: none;
}


/* 
    On screens that are 768px or less, set the background color to blue 
    CSS to handle tablets and smaller screens
*/

@media screen and (max-width: 768px) {
    .header-menu-toggler {
        display: unset;
    }
    .mobi-nav {
        width: 100%;
        top: -1600px;
        right: 0px;
        position: absolute;
        box-shadow: var(--app-shadow);
        margin: 0;
        opacity: 0;
        height: calc(100vh - 70px);
        background-color: transparent;
        transition: 600ms all ease-in-out;
        z-index: 999;
    }
    .header .header-menu {
        width: 100%;
        height: auto;
        background-color: var(--bs-white);
        display: flex;
        flex-flow: column;
        z-index: 999;
        padding-bottom: 1rem;
        box-shadow: var(--app-shadow);
    }
    .header-menu .menu-item {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .header-menu .menu-link {
        width: inherit;
        text-align: center;
    }
    .mobi-nav.open {
        opacity: 1;
        top: 69px;
    }
}


/* Masthead Section */

.masthead {
    height: calc(100vh - 70px);
    background-attachment: fixed;
    background-position: right;
    background-size: cover;
    background-repeat: no-repeat;
    background-clip: content-box;
    background-origin: content-box;
    color: #f9f9f9;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
    position: relative;
}

.masthead-container {
    height: 100%;
    max-height: 70vh;
    width: 100%;
    max-width: 800px;
    padding: 1rem .5rem .3rem;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
}

.masthead-container .masthead-body,
.masthead-container .masthead-footer {
    padding: .5rem 1rem;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    height: auto;
}

.masthead-body .masthead-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    height: 40vh;
}

.masthead-socials {
    display: flex;
    justify-content: center;
    width: 100%;
}

.masthead-socials .social-link {
    margin: 0 .5rem;
    font-size: 1.5rem;
}


/* Main Section */

.section:nth-child(2n+1) {
    background-color: #ffffff;
}

.section {
    min-height: 500px;
    overflow: hidden;
    background-color: #f9f9f9;
}

.section .page-section {
    padding: 3rem 0 4rem;
}

.section .section-header {
    text-align: center;
}

.section .section-title {
    font-size: 1.75rem;
}

.section .section-subtitle {
    font-size: 80%;
}

.section hr {
    opacity: .1;
}


/* Home about section CSS */

.bloc-infos .image-infos {
    height: auto;
    width: 100%;
    max-width: 400px;
    margin-bottom: 20px;
}

.bloc-infos .infos {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
}

.infos p {
    margin-bottom: .2rem;
}

.bloc-introduction {
    text-align: justify;
}

.actions-btn {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    margin-bottom: 1.5rem;
    margin-top: 1rem;
}

.actions-btn .btn {
    font-size: 1.65rem;
}

@media screen and (max-width: 768px) {
    .bloc-infos .image-infos {
        margin-bottom: 5px;
    }
    .bloc-infos .infos {
        margin-bottom: 15px;
    }
}


/* Home skill section CSS */

.skill-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    width: 100%;
    margin: 1rem auto 0;
    height: auto;
}

.skill-list .card {
    margin-top: 1rem;
}

.skill-list .card:hover {
    box-shadow: var(--app-shadow-light);
}

.skill-list .card-text {
    margin-bottom: 0;
}

.skill-list .card-body {
    height: auto;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.skill {
    width: 100%;
    max-width: 275px;
    height: 100vh;
    max-height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-shadow: var(--app-shadow);
    transition: all .32s ease-in-out;
    background-color: var(--bs-white);
    margin-top: 1rem;
    overflow: hidden;
    border-radius: .2rem;
}

.skill-header {
    color: var(--bs-white);
    background-color: var(--app-blue-600);
    width: 100%;
    padding: 1rem;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.skill-title {
    margin-bottom: 0;
}

.skill-content {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.skill-content>* {
    margin-bottom: .3rem;
}

.skill-footer {
    height: 5px;
    width: 100%;
    background-color: var(--app-blue-600);
}


/* Home Project section CSS */

.carousel-item-image {
    width: 100%;
    display: block;
    max-height: 800px;
}

.carousel-caption {
    background-color: rgba(0, 0, 0, .15);
}


/* Home Contact section CSS */

.contact-list {
    height: auto;
    width: 100%;
    max-width: 800px;
    margin: 3rem auto 2.5rem;
    display: flex;
    align-items: center;
    flex-direction: row;
}

#contact .contact-list {
    justify-content: space-between;
}

.contact-box {
    display: flex;
    justify-content: center;
}

.box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    border-radius: .4rem;
    transition: all 0.5s ease-out;
    background-color: var(--bs-white);
    box-sizing: border-box;
    width: 100%;
    box-shadow: var(--app-shadow-light);
}

.box:hover {
    background-color: var(--app-blue-100);
    color: var(--app-blue-600);
}

.contact-link {
    display: inline-block;
    width: 175px;
    height: auto;
}

.contact-icon {
    font-size: 75px;
}


/* Footer CSS */

.footer {
    height: auto;
    width: 100%;
    padding: .75rem 1rem 1.5rem;
    background-color: var(--bs-white);
    border-top: 1px solid rgba(0, 0, 0, .1);
    align-items: center;
    justify-content: flex-start;
}

.footer hr {
    opacity: .15;
}

.footer-top {
    margin: 1.5rem 0;
}

.footer .menu-footer {
    padding-left: 0;
}

.menu-footer .menu-item {
    padding-left: 0;
    list-style: none;
}

.menu-footer .menu-link {
    color: var(--text-content-color);
    text-decoration: none;
}

.footer .copyright {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.copyright>* {
    margin-bottom: 0;
}

.footer .socials-list {
    display: flex;
    flex-direction: row;
    margin: .8rem 0 1rem;
}

.footer .socials-list .social-link {
    margin-right: .4rem;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    box-shadow: var(--app-shadow-light);
    color: var(--text-content-color);
}


/* Page section contact */

#page-contact .contact-link {
    width: 100px;
    margin-right: 1rem;
}

#page-contact #maps-iframe {
    max-width: 100%;
    max-height: 300px;
    margin-bottom: .75rem;
}


/* Page Mes réalisations */

.card-project .card-body,
.card-project .card-img-top {
    height: 200px;
}

.card-project .card-body {
    padding: 0;
}

.card.card-project {
    border-radius: .15rem;
}

.card-project .project-card-link {
    width: 100%;
    height: 100%;
    position: absolute !important;
    top: 0;
    left: 0;
    display: block;
    z-index: 2!important;
    border: 1px solid transparent;
    transition: .3s;
    border-radius: 3px;
    cursor: pointer;
}

.card-project .card-footer {
    padding: .15rem 1rem;
    font-size: 1.05rem;
    color: var(--text-content-secondary);
}


/* Page Show projet */

#page-projet .project-image {
    width: 100%;
    height: auto;
}

#page-projet .project-description {
    color: #4C4C4C;
}

#page-projet .project-description p {
    margin-bottom: .2rem;
}

#page-projet .project-tasks {
    padding-left: .5rem;
    list-style: " - ";
}

#page-projet .project-tasks .task {
    color: #4C4C4C;
}

#page-projet .project-tasks .task::before {
    content: "\200B";
}